[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
blackcellalchemy = "*"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
ipykernel = "*"
beautifulsoup4 = "*"
requests = "*"
selenium = "*"
splinter = "*"
time = "*"
jupyter = "*"
sqlalchemy = "*"
pymysql = "*"
blackcellmagic = "*"
flask = "*"
flask_sqlalchemy = "*"
flask_pymongo = "*"
lxml = "*"

[requires]
python_version = "3.7"
